<!DOCTYPE html>
<html lang="en">
    <head>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-TVP668D');</script>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="icon" type="image/png" href="/assets/img/movie_icon.png">
        <title>MovieTix</title>
        <script src="https://kit.fontawesome.com/75e7f79942.js" crossorigin="anonymous"></script>
        <script src="/assets/js/favorites.js"></script>
    </head>
    <body>
        <header>
            <div id="favorites">
                <a href="/favorites">My Movies</a>
            </div>
            <h1><a href="/"><span>M</span>ovie<span>T</span>ix</a></h1>
            
            <form action="/search" method="get">
                <input type="text" name="search" id="">
                <input type="submit" value="Search" id="">
            </form>

            <section id="categories">
                <a href="/category/28/1">Action</a>
                <a href="/category/12/1">Adventure</a>
                <a href="/category/80/1">Crime</a>
                <a href="/category/35/1">Comedy</a>
                <a href="/category/18/1">Drama</a>
                <a href="/category/27/1">Horror</a>
                <a href="/category/10402/1">Music</a>
                <a href="/category/878/1">Science Fiction</a>
            </section>
            <script>
                const ap = '<%= ap %>';
                document.addEventListener("DOMContentLoaded", function () {
                    pushFavorites();
                });
            </script>
        </header>

        <h2>My Saved Movies</h2>

        <section id="favorites-placeholder">
            <!-- Placeholder for favorite movie instances -->
        </section>
</body>
</html>